@font-face {
    font-family: "HeyAugust";
    src: url("./fonts/hey_august-webfont.woff");
}

@font-face {
    font-family: "Avenir";
    src: url("./fonts/avenir_roman-webfont.woff");
}

.first-page-title {
    font-family: 'HeyAugust';
    font-size: 4rem;
    color: #ECF4E3;
}

p {
    font-family: 'Avenir';
    color: #ECF4E3;
    padding-left: 2em;
    padding-right: 2em;
}

.beigetext {
    color: #C0B271;
}

div.fpsScrollbar {
    /* styles for whole scrollbar container */
}

div.fpsScrollNode {
    /* styles for indicators */
    border-radius: 5px;
}

div.fpsScrollNode.active {
    /* styles for active indicator */
    background-color: rgb(152, 122, 81);
}

#fixedBackground {
    width: 100vw;
    height: 100vh;
    position: fixed;
    transition: background-color .75s cubic-bezier(.85, .14, .37, 1);
}

#fixedBackground.bg1 {
    background-color: #253A0C;
}

#fixedBackground.bg2 {
    background-color: #455D28;
}

#fixedBackground.bg3 {
    background-color: #648142;
}

#fixedBackground.bg4 {
    background-color: #8AA569;
}

#fixedBackground.bg5 {
    background-color: #B6CC9C;
}

.col {
    height: 100vh;
}

@media screen and (max-width: 576px) {

    .col {
        height: 50vh;
    }

    .first-page-title {
        font-size: 3em;
        padding-bottom:
    }

    .first-page-text p {
        padding-left: 2em;
        padding-right: 2em;
    }

    .right-blob {
        background-size: 50%;
    }


}

/*front page*/

.right-blob {
    background-image: url("pictures/Group%203696.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.right-blob2 {
    background-image: url(pictures/blobcars.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
